.landing__wrapper {
  border: 1px solid black;
  margin-top: 54px;
  padding: 16px;
  position: relative;

  @media (min-width: 320px) and (max-width: 576px) {
    .wrapper-card {
      // border: 1px solid red;
      padding: 16px;
      margin: 0 0 24px;

      h1 {
        font-size: 32px;
        line-height: 38px;
        font-weight: 700;
      }
      .card-image {
        margin: 10px 0;
        img {
          width: 100%;
        }
      }
      .desc {
        font-size: 16px;
        font-weight: 300;
        // border: 1px solid blue;
      }
      .date {
        font-weight: 300;
        font-size: 12px;
        text-align: right;
      }
    }
    .button {
      margin: 16px 0;
      padding: 15px;
      border: 1px solid #82B440;
      background-color: #82B440;
    }
  }
  .must-read {
    h3 {
      font-size: 24px;
      font-weight: 600;
      &::after {
        content: "";
        display: block;
        border-bottom: 2px solid #777777;
      }
    }
  }
  // .wrapper-topheadlines{
  //     border: 1px solid black;
  //     position: absolute;
  // }
  @media (min-width: 577px) and (max-width: 768px) {
    .wrapper-card {
      padding: 16px;
      h1 {
        font-size: 32px;
        line-height: 32px;
        font-weight: 700;
      }
      .card-image {
        margin: 10px 0;
        img {
          width: 100%;
        }
      }
      .desc {
        font-size: 16px;
        font-weight: 300;
        // border: 1px solid blue;
      }
      .date {
        font-weight: 300;
        font-size: 12px;
        text-align: right;
      }
    }
    .button {
      margin: 16px 0;
    }
  }
}
